 body{
    background-color: #81D2C7;
    Border-radius: var(--primary-color);
    font-family:'Roboto', sans-serif;
    color:#ffffff;
    }
    
    h2{
        text-align: left;
        font-size: 15px;
        background-size: 40px;
        background-color: #b5d8dd;
        padding-right:400px; 
        color: #ffffff;
        padding: 10px;
    }


.title{
    text-align: left;
    font-size:30px;
    margin: 37px;
    padding-bottom: 0px;


}
     
.description{
    text-align: left;
    font-size: 16px;
    margin: 0px;
    padding-bottom: 70px;

}



    .data{
        text-align: left;
        font-size: 15px;
        background-color:#E0E0E2;
        padding-right: 0px;
        margin: 30px;
        color: #7389AE;
        padding-bottom: 30px;
    }

    .contact{
        text-align: left;
        font-size: 15px;
        background-color:#E0E0E2;
        padding-right: 0px;    
        margin: 30px;
        color: #7389AE;
        padding-bottom: 30px;
    }

    .experience{
        text-align: left;
        font-size: 15px;
        background-color:#E0E0E2;
        padding-right: 0px;
        margin: 30px;
        color: #7389AE;
        padding-bottom: 30px;
    
    }
    .education{
        text-align: left;
        font-size: 15px;
        background-color:#E0E0E2;
        padding-right: 0px;
        margin: 30px;
        color: #7389AE;
        padding-bottom: 30px;
    }
    .hability{
        text-align: left;
        font-size: 15px;
        background-color:#E0E0E2;
        padding-right: 0px;
        margin: 30px;
        color: #7389AE;
        padding-bottom: 30px;
    }
    .recomen{
        text-align: left;
        font-size: 15px;
        background-color:#E0E0E2;
        padding-right:0px;
        margin: 30px;
        color: #7389AE;
        padding-bottom: 30px;
    }
    .hour{
        text-align: left;
        font-size: 15px;
        background-color:#E0E0E2;
        padding-right: 0px;
        padding-bottom: 30px;
        margin: 30px;
        color: #7389AE;

    }
    .fecha{
        text-align: left;
        font-size: 12px;
        margin: 30px;
    }
